* {
    color: #ececec;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* body {
    margin: 0;
    padding: 0;
    
}

.app {
    background-color: #212121;
    display: flex;
    
} */

.app {
    width: 100vw;        /* full viewport width */
    height: 100vh;       /* full viewport height */
    display: flex;       /* sidebar + chat side by side */
    margin: 0;
    padding: 0;
}
